<a href="https://colab.research.google.com/github/lamyse1/Data-Engineering-Projects/blob/main/DE_Graded_Project_Week2_lamyse_Ammar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Week 2 Exercise: Working Towards The DE Project: My Dashboard**

# **Set Up Mongo DB **

In [16]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.11/dist-packages (4.11)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.11/dist-packages (from pymongo) (2.7.0)

In [20]:
import pymongo


MONGO_URI = "mongodb+srv://lamyseammar:Laura9966@cluster0.pfzed.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Connect to MongoDB
client = pymongo.MongoClient(MONGO_URI)

# Create the database and collection
db = client["sales_db"]
sales_collection = db["sales"]

# Confirm connection
print(" Connected to MongoDB Atlas and created 'sales_db' with 'sales' collection.")

 Connected to MongoDB Atlas and created 'sales_db' with 'sales' collection.

In [22]:
import pandas as pd

# GitHub Raw CSV URL (Replace with your actual raw link)
csv_url = "https://raw.githubusercontent.com/lamyse1/Data-Engineering-Projects/main/D.E.%20Graded%20Project.%20Store%20Sales%20Data%20(1).csv"

# Load CSV directly from GitHub
sales_data = pd.read_csv(csv_url)

# Display the first few rows
print("✅ First 5 rows of the dataset:")
print(sales_data.head())

✅ First 5 rows of the dataset:
       date  product ID  sales amount   store location
0  1/1/2013           1             13                1
1  1/2/2013           1             11                1
2  1/3/2013           1             14                1
3  1/4/2013           1             13                1
4  1/5/2013           1             10                1

In [24]:
# Convert DataFrame rows to a dictionary format for MongoDB
sales_records = sales_data.to_dict(orient="records")

# Insert the sales data into MongoDB
sales_collection.insert_many(sales_records)

print(f"Successfully inserted {len(sales_records)} records into MongoDB.")

Successfully inserted 913000 records into MongoDB.

In [25]:
# Count number of records in MongoDB
count = sales_collection.count_documents({})
print(f" Total records in MongoDB: {count}")

# Fetch and display the first 5 records from MongoDB
print("\n First 5 records from MongoDB:")
for record in sales_collection.find().limit(5):
    print(record)

 Total records in MongoDB: 913000

 First 5 records from MongoDB:
{'_id': ObjectId('67a0dd1834baf83c707827ec'), 'date': '1/1/2013', 'product ID': 1, 'sales amount ': 13, 'store location ': 1}
{'_id': ObjectId('67a0dd1834baf83c707827ed'), 'date': '1/2/2013', 'product ID': 1, 'sales amount ': 11, 'store location ': 1}
{'_id': ObjectId('67a0dd1834baf83c707827ee'), 'date': '1/3/2013', 'product ID': 1, 'sales amount ': 14, 'store location ': 1}
{'_id': ObjectId('67a0dd1834baf83c707827ef'), 'date': '1/4/2013', 'product ID': 1, 'sales amount ': 13, 'store location ': 1}
{'_id': ObjectId('67a0dd1834baf83c707827f0'), 'date': '1/5/2013', 'product ID': 1, 'sales amount ': 10, 'store location ': 1}

# **Perform CRUD Operations on MongoDB**

 Create: Insert Additional Sales Records

In [26]:
# New sales records to insert
new_sales = [
    {"date": "2/2/2025", "product ID": 51, "sales amount": 120, "store location": 3},
    {"date": "2/3/2025", "product ID": 52, "sales amount": 200, "store location": 7}
]

# Insert new records
sales_collection.insert_many(new_sales)

# Confirm insertion
print("Successfully added new sales records.")

Successfully added new sales records.

Read: Query Data Based on Store, Product, or Date

In [27]:
# Fetch sales by store location
store_sales = list(sales_collection.find({"store location": 3}).limit(5))
print("\n Sales from Store Location 3:")
for sale in store_sales:
    print(sale)

# Fetch sales by product ID
product_sales = list(sales_collection.find({"product ID": 51}).limit(5))
print("\n Sales for Product ID 51:")
for sale in product_sales:
    print(sale)

# Fetch sales by date
date_sales = list(sales_collection.find({"date": "1/1/2013"}).limit(5))
print("\n Sales on 1/1/2013:")
for sale in date_sales:
    print(sale)

 Sales from Store Location 3:
{'_id': ObjectId('67a0de4b34baf83c70861654'), 'date': '2/2/2025', 'product ID': 51, 'sales amount': 120, 'store location': 3}

 Sales for Product ID 51:
{'_id': ObjectId('67a0de4b34baf83c70861654'), 'date': '2/2/2025', 'product ID': 51, 'sales amount': 120, 'store location': 3}

 Sales on 1/1/2013:
{'_id': ObjectId('67a0dd1834baf83c707827ec'), 'date': '1/1/2013', 'product ID': 1, 'sales amount ': 13, 'store location ': 1}
{'_id': ObjectId('67a0dd1834baf83c70782f0e'), 'date': '1/1/2013', 'product ID': 1, 'sales amount ': 12, 'store location ': 2}
{'_id': ObjectId('67a0dd1834baf83c70783630'), 'date': '1/1/2013', 'product ID': 1, 'sales amount ': 19, 'store location ': 3}
{'_id': ObjectId('67a0dd1834baf83c70783d52'), 'date': '1/1/2013', 'product ID': 1, 'sales amount ': 10, 'store location ': 4}
{'_id': ObjectId('67a0dd1834baf83c70784474'), 'date': '1/1/2013', 'product ID': 1, 'sales amount ': 11, 'store location ': 5}

Update: Modify Sales Amount for a Specific Record

In [28]:
# Update the sales amount for product ID 51 on "2/2/2025"
sales_collection.update_one(
    {"date": "2/2/2025", "product ID": 51},
    {"$set": {"sales amount": 500}}
)

# Confirm update
updated_record = sales_collection.find_one({"date": "2/2/2025", "product ID": 51})
print("\n Updated Sales Record:")
print(updated_record)

 Updated Sales Record:
{'_id': ObjectId('67a0de4b34baf83c70861654'), 'date': '2/2/2025', 'product ID': 51, 'sales amount': 500, 'store location': 3}

Delete: Remove Outdated Sales Records

In [29]:
# Delete sales records before 2015
delete_result = sales_collection.delete_many({"date": {"$lt": "1/1/2015"}})

# Confirm deletion
print(f"\n Deleted {delete_result.deleted_count} outdated sales records.")

 Deleted 1000 outdated sales records.


# **Visualize data from MongoDB using Dash**

# Retrieve Updated Sales Data from MongoDB

In [30]:
# Fetch sales data from MongoDB and convert it to a DataFrame
mongo_data = list(sales_collection.find())

# Convert to DataFrame
sales_df = pd.DataFrame(mongo_data)

# Drop MongoDB's _id column since we dont need it  for visualization
sales_df.drop(columns=["_id"], inplace=True)

# Display first few rows
print(" Updated Sales Data from MongoDB:")
print(sales_df.head())

 Updated Sales Data from MongoDB:
       date  product ID  sales amount   store location   sales amount  \
0  1/2/2013           1           11.0              1.0           NaN
1  1/3/2013           1           14.0              1.0           NaN
2  1/4/2013           1           13.0              1.0           NaN
3  1/5/2013           1           10.0              1.0           NaN
4  1/6/2013           1           12.0              1.0           NaN

   store location
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

# Modify Dash App to Use MongoDB Data

In [31]:
import dash
from dash import dcc, html
import plotly.express as px
from dash.dependencies import Input, Output

# Initialize the Dash app
app = dash.Dash(__name__)

# Fetch updated sales data from MongoDB
def get_sales_data():
    mongo_data = list(sales_collection.find())
    df = pd.DataFrame(mongo_data)
    df.drop(columns=["_id"], inplace=True)
    return df

# Define the app layout
app.layout = html.Div(children=[
    html.H1(children="Sales Dashboard"),

    # Store Location Sales Chart
    html.H3(children="Sales by Store Location"),
    dcc.Graph(id="sales-location-chart"),

    # Product Sales Chart
    html.H3(children="Sales by Product"),
    dcc.Graph(id="sales-product-chart")
])

# Define callback to update charts with latest MongoDB data
@app.callback(
    [Output("sales-location-chart", "figure"),
     Output("sales-product-chart", "figure")],
    Input("sales-location-chart", "id")
)
def update_charts(_):
    df = get_sales_data()

    # Aggregate sales by store location
    sales_by_location = df.groupby("store location")["sales amount"].sum().reset_index()
    fig_location = px.bar(sales_by_location, x="store location", y="sales amount", title="Sales by Store Location")

    # Aggregate sales by product
    sales_by_product = df.groupby("product ID")["sales amount"].sum().reset_index()
    fig_product = px.bar(sales_by_product, x="product ID", y="sales amount", title="Sales by Product")

    return fig_location, fig_product

# Run the Dash server
if __name__ == '__main__':
    app.run_server(debug=True)

# **Documentation Content**

# CRUD Operations on MongoDB - Sales Data

## 1.Create (Insert New Records)
- Two new sales records were manually inserted into MongoDB.
- Example Record:
  {"date": "2/2/2025", "product ID": 51, "sales amount": 120, "store location": 3}
- This allows adding future sales data dynamically.

## 2.Read (Query Data from MongoDB)
- Queried sales based on store location, product ID, and date.
- Example Queries:
  - Find all sales from store location 3.
  - Find all sales for product ID 51.
  - Find all sales on "1/1/2013".
- This enables analysis of sales trends and key performance metrics.

## 3.Update (Modify Records)
- Sales amount for Product ID 51 on "2/2/2025" was updated from 120 to 500.
- Example Query:
  ```python
  sales_collection.update_one(
      {"date": "2/2/2025", "product ID": 51},
      {"$set": {"sales amount": 500}}
  )

## 4. Delete (Remove Outdated Records)
- All sales records before "1/1/2015" were deleted to maintain database efficiency.
- Example Query:
```python
sales_collection.delete_many({"date": {"$lt": "1/1/2015"}})

Removing old records optimizes storage and speeds up queries.


# Why CRUD Operations Are Important

CRUD (Create, Read, Update, Delete) operations ensure efficient database management:

Create → Adds new sales data dynamically.

Read → Retrieves key sales insights (best-selling stores, products).

Update → Corrects incorrect data and updates transactions.

Delete → Removes outdated or unnecessary data.

# Finally:
Sales data is stored in MongoDB and dynamically updated.
Dash visualization displays real-time sales data after CRUD operations.
The project successfully integrates a NoSQL database with interactive dashboards.

In [32]:
documentation = """
# CRUD Operations on MongoDB - Sales Data

## 1.Create (Insert New Records)
- Two new sales records were manually inserted into MongoDB.
- Example Record:
  {"date": "2/2/2025", "product ID": 51, "sales amount": 120, "store location": 3}
- This allows adding future sales data dynamically.

## 2.Read (Query Data from MongoDB)
- Queried sales based on store location, product ID, and date.
- Example Queries:
  - Find all sales from store location 3.
  - Find all sales for product ID 51.
  - Find all sales on "1/1/2013".
- This enables analysis of sales trends and key performance metrics.

## 3. Update (Modify Records)
- Sales amount for Product ID 51 on "2/2/2025" was updated from 120 to 500.
- Example Query:
  sales_collection.update_one(
      {"date": "2/2/2025", "product ID": 51},
      {"$set": {"sales amount": 500}}
  )

- Updating records ensures accuracy and up-to-date financial reporting.

## 4.Delete (Remove Outdated Records)
- All sales records before "1/1/2015" were deleted to maintain database efficiency.
- Example Query:
  sales_collection.delete_many({"date": {"$lt": "1/1/2015"}})

- Removing old records optimizes storage and speeds up queries.

## Why CRUD Operations Are Important
CRUD (Create, Read, Update, Delete) operations ensure efficient database management:
- **Create** → Adds new sales data dynamically.
- **Read** → Retrieves key sales insights (best-selling stores, products).
- **Update** → Corrects incorrect data and updates transactions.
- **Delete** → Removes outdated or unnecessary data.

## Finally
- **Sales data is stored in MongoDB** and dynamically updated.
- **Dash visualization displays real-time sales data** after CRUD operations.
- **The project successfully integrates a NoSQL database with interactive dashboards.**
"""

# Save documentation to a text file
with open("crud_documentation.txt", "w") as file:
    file.write(documentation)

print(" Documentation saved as 'crud_documentation.txt'. Upload it to GitHub for submission.")

 Documentation saved as 'crud_documentation.txt'. Upload it to GitHub for submission.